@import "variables";

#upscale {
  background-color: var(--cx-color-background);
  color: var(cx-color-text-primary);
}

#upscale .storybook-product-content-sale-price {
  color: rgb(244, 121, 32) !important;
}