@import "variables";

#upscale {
  background-color: var(--cx-color-background);
  color: var(cx-color-text-primary);
}

#upscale [data-component-id="3eb4da64-b9b1-4dc5-86c4-a65f0b48da73"] .storybook-product-content-sale-price,
#upscale [data-component-id="e977908e-4297-4bf2-a6d0-4f5d9c4fc159"] .storybook-product-content-sale-price {
  color: white !important;
  font-weight: bold;
}

#upscale [data-component-id="3eb4da64-b9b1-4dc5-86c4-a65f0b48da73"] .storybook-product-content-name,
#upscale [data-component-id="e977908e-4297-4bf2-a6d0-4f5d9c4fc159"] .storybook-product-content-name {
  color: white !important;
}

#upscale [data-component-id="3eb4da64-b9b1-4dc5-86c4-a65f0b48da73"] .storybook-product-content-background-overlay.
#upscale [data-component-id="e977908e-4297-4bf2-a6d0-4f5d9c4fc159"] .storybook-product-content-background-overlay {
  background-color: rgba(35, 85, 145, 0.4);
}

[_nghost-serverApp-c82], [_nghost-serverApp-c81] nav[_ngcontent-serverApp-c81] ul[_ngcontent-serverApp-c81] li[_ngcontent-serverApp-c81] a[_ngcontent-serverApp-c81], [_nghost-serverApp-c80] .shopping-cart-icon__label[_ngcontent-serverApp-c80] {
  background-color: #235591;
}