@import "../styles.scss";

:host {
  .storybook-component-headline {
    color: var(--cx-color-text-secondary) !important;
  }

  .storybook-component-sub-headline {
    color: var(--cx-color-text-secondary) !important;
  }
  
  #upscale .storybook-product-content-sale-price {
    color: rgb(244, 121, 32) !important;
  }
}